In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("empleados__media.csv", delimiter=";")

In [7]:
#imprime la informacion del dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Edad         143 non-null    int64
 1   Experiencia  143 non-null    int64
 2   Salario      143 non-null    int64
dtypes: int64(3)
memory usage: 3.5 KB
None

In [8]:
#usa el metodo mean() con axis=0 como paramentro
print(df.mean(axis=0))

Edad             33.797203
Experiencia       6.867133
Salario        2778.657343
dtype: float64